﻿@model HROnline.EmployeeAbsence.Web.ViewModels.AbsenceViewModel

@{
    ViewBag.Title = "Add Absence";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Book Absence</h2>

@using (Html.BeginForm("Add", "Absence", FormMethod.Post, new { role = "form" }))
{
        <div class="span4 offset2">
            <div class="form-group">
                @Html.LabelFor(model => model.StartDateTime)
                @Html.TextBoxFor(model => model.StartDateTime, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.StartDateTime)
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.EndDateTime)
                @Html.TextBoxFor(model => model.EndDateTime, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.EndDateTime)
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.AbsenceType)
                @Html.TextBoxFor(model => model.AbsenceType, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.AbsenceType)
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Details)
                @Html.TextAreaFor(model => model.Details, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Details)
            </div>
        </div>
    <button type="submit" class="btn btn-default">Submit Absence</button>
}