﻿@model IEnumerable<HROnline.EmployeeAbsence.Web.ViewModels.AbsenceViewModel>

@{
    ViewBag.Title = "Absences";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Absences</h2>
    
<p>
    @Html.ActionLink("Create New", "Add")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.StartDateTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndDateTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Duration)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Employee.FullName)
        </th>
        <th></th>
        
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FriendlyStartDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FriendlyEndDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Duration)
            days
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Employee.FullName)
        </td>
        <td>@Html.ActionLink("Edit", "Edit", "Absence") 
        @Html.ActionLink("Cancel", "Cancel", "Absence")</td>
    </tr>
}

</table>
