﻿@using System.Web.Optimization
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>HROnline - Employee Absence - @ViewBag.Title</title>
    @Scripts.Render("~/bundles/script/libs")
    @Styles.Render("~/bundles/styles/lib")
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
